/* Global styles */
html, body, #root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden; 
  color: black;
}

/* App container */
.app {
  display: flex;
  height: 100vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
}

/* Sidebar component already handled separately */

/* Main content */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden; /* Ensures the content doesn't overflow */
}

/* User Select Dropdown */
.user-select {
  margin-bottom: 20px;
  display: inline-block;
  border-radius: 30px;
  margin-right: 20px;
  width: 250px;
  
}

div{
  margin-right: 15px;
}

label{
  display: inline-block;
  width: 10em;
  margin-right: .5em;
  padding-top: 1.5em;
  text-align: center;

}

#user-select{
  background-color: white;
  color: black;
  border-radius: 30px;
  border-width: 2px;
  border-color: black;
  margin-right: 10px;
}

/* User content containers */
.user-content {
  display: flex;
}

.user-posts, .user-albums{
  color: black;
  background-color: whitesmoke;
  margin-right: 30px;
  margin-left: 10px;

}

h1 {
  margin-top: 0;
  text-align: center;
}
